{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    {% comment %} El usuario ya ha iniciado sesión, redirigir al home {% endcomment %}
    {% load static %}
    <script>
        window.location.href = "{% url 'index' %}";
    </script>
{% else %}
    <div class="form-contentl">
        <div class="form-container blog">
            <div class="form-group">
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <h2>Welcome to Bookstore!</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form_login.email.label }}
                    {{ form_login.email }}
                    {{ form_login.password.label }}
                    {{ form_login.password }}
                    <br>
                    <input type="submit" value="Login" class="btn btn-primary">
                    <div class="text-center mt-2">
                    {% comment %} <a href="{% url 'register' %}">New to Bookstore? <b>Start here</b></a></div> {% endcomment %}
                    <a href="#">New to Bookstore? <b>Start here</b></a></div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}