body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --tipografas-web-nav-bar: "Open Sans";
  --font-kaisei-tokumin: "Kaisei Tokumin";
  --font-inter: Inter;
  --font-rubik: Rubik;

  /* font sizes */
  --tipografas-web-nav-bar-size: 18px;
  --tipografas-web-subttulos-size: 20px;
  --font-size-smi: 13px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;
  --font-size-xs: 12px;
  --font-size-3xl: 22px;
  --font-size-31xl: 50px;
  --font-size-mini: 15px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --secundario: #412e27;
  --color-black: #000;
  --gris: #f4f4f4;
  --gray: #e7efee;
  --tourquesemain: #43a599;
  --color-lightseagreen-100: rgba(67, 165, 153, 0.6);
  --color-lightseagreen-200: rgba(67, 165, 153, 0.2);
  --darkgreen: #07352f;
  --color-darkslategray-100: rgba(7, 53, 47, 0.51);
  --color-gainsboro: #d9d9d9;
  --color-silver: #c6c6c6;
  --color-darkgray-100: #a7a7a7;
  --color-darkgray-200: #979797;
  --color-darkgray-300: #969696;
  --primario: #ef7828;

  /* Gaps */
  --gap-8xs: 5px;
  --gap-sm: 14px;
  --gap-mini: 15px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-2xl: 21px;
  --padding-8xs: 5px;
  --padding-lg: 18px;
  --padding-9xl: 28px;

  /* Border radiuses */
  --br-lg: 18px;
  --br-12xs: 1px;
  --br-mid: 17px;
  --br-sm-2: 13.2px;
  --br-3xs: 10px;
  --br-81xl: 100px;
  --br-mini: 15px;
  --br-21xl: 40px;
  --br-lgi: 19px;
  --br-2xs: 11px;
}
