{% extends "base.html" %}

{% load static %}

{% block title %}Shopping Cart - Bookstore{% endblock %}

{% block body %}

<div class="back">
    <button class="back-button">< Home</button>
</div>

<h1>Cart</h1>

<div class="row">
    <div class="col">
        {% for book in cart_books %}
        <div class="row">
            <div class="col col-sm-4">
                <img src="{% static "img/placeholder-book-popular.png" %}" style="width: 5.75rem; height: 8.625rem; flex-shrink: 0"/>
            </div>
            <div class="col col-sm-8">
                <span style="color: #07352F; font-size: 1.125rem; font-style: normal; font-weight: 600; line-height: normal;">{{ book.title }}</span>
                <p style="color: #07352F; font-size: 0.8125rem; font-style: normal; font-weight: 500; line-height: normal;">By {{ book.id_author }}</p>
                <p>&starf;&starf;&starf;&starf;&starf;</p>

                <div class="row justify-content-center">
                    <div class="col-md-2">Quantity:</div>
                            <div class="col-md-2">
                                <select class="form-select form-select-sm" id="qty-cart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                </div>


            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-6"></div>
</div>
</br></br></br></br></br></br></br></br>

{% endblock body %}