{% extends "base.html" %}
{% load static %}
{% block title %}Bookstore{% endblock %}

{% block body %}
<div class="back">
    <a href="{% url 'books' %}"><button class="back-button">< Back</button></a>
</div>
<div class="container">
    {{ book.id_category }} > {{ book.title }}
    <div class="row">
        <div class="col col-sm-6">
            <img src="{% static "img/placeholder-book-popular.png" %}"/>
        </div>
        <div class="col col-sm-6">
            <h2>{{ book.title }}</h2>
            <p>By {{ book.id_author }}</p>

            <button id="add-cart" value="{{ book.id }}" type="button" class="btn btn-secondary">Add to cart</button>

        </div>
    </div>


    <script>
        // Check if button pressed
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'cart_add' %}',
                data: {
                    book_id: $('#add-cart').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
        
                success: function(json){
                    //console.log(json)
                    document.getElementById("cart_quantity").textContent = '(' + json.qty + ')'
                },
        
                error: function(xhr, errmsg, err){
        
                }
        
        
            });
        
        
        
        })
        
        
        
        
        </script>
{% endblock body %}